{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'studyspots/style.css' %}">
<body>
    <div class="container mt-5">
        <h4>Select an option:</h4>
        <div class="d-grid gap-2 col-6 mx-auto mt-4">
            <a href="{% url 'studyspots:addNewLocation' %}" class="btn btn-primary btn-lg">Not Part of an Existing Location</a>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto mt-2">
            <a href="{% url 'studyspots:addSpot' %}" class="btn btn-primary btn-lg">Part of an Existing Location</a>
        </div>
    </div>
</body>
{% endblock %}


