{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'studyspots/style.css' %}">

<body style="margin-bottom: 150px;">
    <div id="new-location-form">
        <div class="container mt-5">
            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- Add Location Section -->
                            <h3>Add Location:</h3>
                            <div id="map" style="width: 100%; height: 400px;"></div>
                            <p class="text-muted mt-3">Drag the pin to your desired location on the map.</p>
                            <div class="mb-3">
                                {{ form.locationName.label_tag }}{% if form.locationName.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form.locationName }}
                            </div>
                            <div class="mb-3">
                                {{ form.location_type.label_tag }}{% if form.location_type.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form.location_type }}
                            </div>
                            <div class="mb-3">
                                {{ form.on_grounds.label_tag }}
                                {{ form.on_grounds }}
                            </div>
                        </div>
                    </div>

                    <!-- Divider -->
                    <div class="row">
                        <div class="col">
                            <hr class="my-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Add Spot Section -->
                            <h3>Add Spot:</h3>
                            <div class="mb-3">
                                {{ form.spotName.label_tag }}{% if form.spotName.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form.spotName }}
                            </div>
                            <div class="mb-3">
                                {{ form.capacity.label_tag }}{% if form.capacity.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form.capacity }}
                            </div>
                            <div class="mb-3">
                                {{ form.comment.label_tag }}
                                {{ form.comment }}
                            </div>
                            <div class="mb-3">
                                {{ form.overall_rating.label_tag }}{% if form.overall_rating.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form.overall_rating }}
                            </div>
                            <div class="mb-3">
                                {{ form.comfort_rating.label_tag }}{% if form.comfort_rating.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form.comfort_rating }}
                            </div>
                            <div class="mb-3">
                                {{ form.noise_level_rating.label_tag }}{% if form.noise_level_rating.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form.noise_level_rating }}
                            </div>
                            <div class="mb-3">
                                {{ form.crowdedness_rating.label_tag }}{% if form.crowdedness_rating.field.required %}<span class="text-danger">*</span>{% endif %}
                                {{ form.crowdedness_rating }}
                            </div>
                            <div class="mb-3">
                                {{ form.lat }}
                            </div>
                            <div class="mb-3">
                                {{ form.lng }}
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary mt-3" value="Submit Location & Spot for Approval">
                            </div>
                            {% if error_message %}
                                <p class="text-danger mt-3">{{ error_message }}</p>
                            {% endif %}
                    </div>
                </div>
                </div>
            </form>
        </div>

        <script>
            var map;
            var marker;

            function initMap() {
                var initialLocation = { lat: 38.0356, lng: -78.5034 }; // Default initial location (University of Virginia)
                map = new google.maps.Map(document.getElementById("map"), {
                      center: initialLocation,
                      zoom: 17,
                });
                // Create a draggable marker
                marker = new google.maps.Marker({
                    position: initialLocation,
                    map: map,
                    draggable: true
                });

                // Add an event listener to update the coordinates fields when the marker is dragged
                google.maps.event.addListener(marker, 'dragend', function () {
                    var coordinates = marker.getPosition();
                    document.getElementById("id_lat").value = coordinates.lat();
                    document.getElementById("id_lng").value = coordinates.lng();
                });
            }
            google.maps.event.addDomListener(window, 'load', initMap);
        </script>

        <!-- Add your Google Maps API script tag here -->
        <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places&callback=initMap"></script>
    </div>
</body>

{% endblock %}