{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'studyspots/style.css' %}">

<body style="margin-bottom: 150px;">
    <div class="container mt-5">
        <form method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- Add Spot Section -->
                        <h3>Add Spot:</h3> 
                        <div class="mb-3">
                            {{ form.spotName.label_tag }}{% if form.spotName.field.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form.spotName }}
                        </div>
                        <div class="mb-3">
                            {{ form.capacity.label_tag }}{% if form.capacity.field.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form.capacity }}
                        </div>
                        <div class="mb-3">
                            {{ form.comment.label_tag }}
                            {{ form.comment }}
                        </div>
                        <div class="mb-3">
                            {{ form.overall_rating.label_tag }}{% if form.overall_rating.field.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form.overall_rating }}
                        </div>
                        <div class="mb-3">
                            {{ form.comfort_rating.label_tag }}{% if form.comfort_rating.field.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form.comfort_rating }}
                        </div>
                        <div class="mb-3">
                            {{ form.noise_level_rating.label_tag }}{% if form.noise_level_rating.field.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form.noise_level_rating }}
                        </div>
                        <div class="mb-3">
                            {{ form.crowdedness_rating.label_tag }}{% if form.crowdedness_rating.field.required %}<span class="text-danger">*</span>{% endif %}
                            {{ form.crowdedness_rating }}
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary mt-3" value="Submit Spot for Approval">
                        </div>
                        {% if error_message %}
                            <p class="text-danger mt-3">{{ error_message }}</p>
                        {% endif %}
                </div>
            </div>
        </form>
    </div>
</body>

{% endblock %}