{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'studyspots/style.css' %}">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group mt-n5">
                <h2>Home Page</h2>
                {% load socialaccount %}
                {% if user.is_authenticated %}
                    <p>Welcome user, you are logged in as {{ user.email }}</p>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}