{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'studyspots/style.css' %}">

<div class="container">
    <div class="row">
        <div class="col">
            {% if user.is_authenticated and user.admin.is_admin %}
            {% if pending_location %}
                <h2> Pending Location: {{ pending_location.name }} </h2>
                <p>Location Type: {{ pending_location.location_type }}</p>
                <p>On Grounds: {{ pending_location.on_grounds }}</p>
            {% endif %}
            <h2> Pending Study Spot: {{ pending_studyspace.name }} </h2>
            <p>Location: {{ pending_studyspace.location }}</p>
            <p>Capacity: {{ pending_studyspace.capacity }}</p>
            {% if pending_studyspace.comments.0 %}
                <p>Comment: {{ pending_studyspace.comments.0 }}</p>
            {% endif %}
            <p>Overall Rating: {{ pending_studyspace.overall_ratings.0 }}</p>
            <p>Comfort Rating: {{ pending_studyspace.comfort_ratings.0 }}</p>
            <p>Noise Level Rating: {{ pending_studyspace.noise_level_ratings.0 }}</p>
            <p>Crowdedness Rating: {{ pending_studyspace.crowdedness_ratings.0 }}</p>

            <div class="btn-group">
                {% if pending_location %}
                <form method="POST" action="{% url 'studyspots:approve_pending' %}?studyspot={{ pending_studyspace.studyspace_id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form method="POST" action="{% url 'studyspots:reject_pending' %}?studyspot={{ pending_studyspace.studyspace_id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
                <form method="POST" action="{% url 'studyspots:change_location' %}?studyspot={{ pending_studyspace.studyspace_id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Reassign Location or Edit</button>
                </form>
                <form>
                    <a href="{% url 'studyspots:pending' %}" class="btn btn-secondary">Return to Pending Spots</a>
                </form>
                {% else %}
                <form method="POST" action="{% url 'studyspots:approve_pending' %}?studyspot={{ pending_studyspace.studyspace_id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form method="POST" action="{% url 'studyspots:reject_pending' %}?studyspot={{ pending_studyspace.studyspace_id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Reject</button>
                </form>
                <form method="POST" action="{% url 'studyspots:change_location' %}?studyspot={{ pending_studyspace.studyspace_id }}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Edit</button>
                </form>
                <form>
                    <a href="{% url 'studyspots:pending' %}" class="btn btn-secondary">Return to Pending Spots</a>
                </form>
                {% endif %}
            </div>
            {% else %}
            <h3 class="text-center">You Don't Have Access to This Page</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}