<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Study Spot App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'studyspots/style.css' %}">
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand fw-bold fs-5 nav-color" href="#">Find Your Next Study Spot!</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-5 nav-color" href="{% url 'studyspots:index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-5 nav-color" href="{% url 'studyspots:map' %}">Map</a>
                    </li>
                    <li class="nav-item">
                        {% load socialaccount %}
                        {% if user.is_authenticated %}
                        <a class="nav-link fw-bold fs-5 nav-color" href="{% url 'studyspots:logout' %}">Logout</a>
                        {% else %}
                        <a class="nav-link fw-bold fs-5 nav-color" href="{% provider_login_url "google" method="oauth2" %}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- This tells django where other pages main content will go -->
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="py-4 fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-div">
                    <p class="mb-0">B0-2 Corporation</p>
                    <p class="mb-0">Copyright &copy; 2023 B0-2 Corp.</p>
                </div>
                <div class="col-md-4 footer-div">
                    <p class="mb-0">Legal Stuff</p>
                    <p class="mb-0">User Policy</p>
                </div>
                <div class="col-md-4 footer-div">
                    <p class="mb-0">Privacy Policy</p>
                    <p class="mb-0">Contact Us</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</body>
</html>