footer {
    background-color: #003368;
}

nav {
    background-color: #003368;
}

.nav-color {
    color: white;
}

.footer-div p {
    color: white;
}

.mapholder {
    height: 700px;
    width: 100%;
}

#map {
    height: 100%
}

.content-box {
    width: 100%;
    height: 100%;
    background-color: #003368;
}


.home-text {
    font-size: 1rem;
}

.comment-list {
    max-height: 33vh; /* Adjust as needed */
    overflow-y: auto;
}

.comment-text {
    border: 1px solid #000; /* Adjust as needed */
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
}

.review_spot_btn {
    position: absolute; 
    top: 43%; 
    right: 0; 
    margin-right: 15px;
}

.btn {
    background-color: #003368; 
    color: #ffffff;
}

@media (max-width: 1000px) {
    .nav-link-text {
        font-size: 2rem;
    }

    .home-text {
        font-size: 2rem;
    }

    .comment-text {
        border: 1px solid #000; /* Adjust as needed */
        margin-bottom: 10px;
        padding: 10px;
        font-size: 2rem;
    }

    .title-text {
        font-size: 3.5rem;
    }

    .main-wrapper {
        height: 86vh;
    }

    .mapholder {
        height: 80vh;
        width: 95vw;
    }
    
    #map {
        height: 80vh;
    }

    .comment-list {
        max-height: 60vh; /* Adjust as needed */
        overflow-y: auto;
        width: 100%;
    }

    .form-p {
        font-size: 1.5rem;
    }

    .review_spot_btn {
        position: absolute; 
        top: 27.5%; 
        right: 0; 
        margin-right: 15px;
    }

    .btn {
        font-size: 1.25rem;
    }
}