footer {
    background-color: #003368;
}

nav {
    background-color: #003368;
}

.nav-color {
    color: white;
}

.footer-div p {
    color: white;
}

.mapholder {
    height: 700px;
    width: 100%;
}

#map {
    height: 100%
}
